<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tEST</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if logged_in}}
          <li><button class="no-button" id="logout">Logout</button></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
        <h1>
          TEST
        </h1>
      </nav>
    </header>
    {{!-- replace contents of main with whatever is needed, be it sign in, posts, or comments --}}
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>