<div class="editPost">
    <form class="editForm" id="usrform">
        <label for="postTitle">Post Title:</label>
        <input type="text" id="postTitle" name="postTitle" value="{{title}}">
        <label for="postField">Post Body:</label>
        <textarea id="postField">{{description}}</textarea>
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/js/post.js"></script>