<div class="editPost">
    <form class="editForm" id="usrform">
        <label for="commentField">Comment Body:</label>
        <textarea id="commentField">{{content}}</textarea>
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/js/comment.js"></script>