header {
  background-color: black;
  color: white;
}

nav {
  width: 100%;
}

header nav ul li {
  display: inline;
  padding: 10px 20px;
}

header h1 {
  display: block;
  padding: 10px 60px;
}

/* .date {
  margin-left: auto;
}

.post-content {
  margin-left: auto;
} */

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.commentFormContainer {
  resize: none;
  display: block;
  width: 50%;
  height: 25%;  
}

.commentForm textarea {
  resize: none;
  display: block;
  width: 50%;
  height: 25%;
}

.comment {
  border: 2px solid black;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: -15px;
}

.commentHeader {
  background-color: lightgray;
  margin: 0;
  padding-left: 15px;
}

.commentHeader .col {
  padding-right: 20px;
}

.commentContent {
  padding-left: 25px;
}

.newPostForm input {
  display: block;
}

.editPost input {
  display: block;
}

.newPostForm textarea {
  width: 50%;
  resize: none;
  display: block;
}

.editPost textarea {
  width: 50%;
  resize: none;
  display: block;
}

.editPost {
  display: none;
}

.postOptions div {
  padding-left: 25px;
}

.postOptions div i {
  transition: all 0.3s linear;
}

.postOptions div i:hover {
  transform: scale(1.5);
}